n8n/01-ai-receptionist.json
{
  "name": "Heritage - AI Receptionist (chat)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "carpet-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook - chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "carpet-chat-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-4o-mini', max_tokens: 500, temperature: 0.5, messages: [{ role: 'system', content: ($json.body.system || 'You are the friendly receptionist for Heritage Carpet Care. Keep replies to 2-4 sentences.') }].concat($json.body.messages || []) } }}",
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "OpenAI - chat completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: ($json.choices && $json.choices[0] && $json.choices[0].message ? $json.choices[0].message.content : '') } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook - chat": {
      "main": [[{ "node": "OpenAI - chat completion", "type": "main", "index": 0 }]]
    },
    "OpenAI - chat completion": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
